.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    gap: 10px;

    .filters {
        height: 100%;
        gap: 100px;

        .range {
            display: flex;
            flex-direction: column;
            justify-content: center;

            input {
                border: 1px grey solid;
                border-radius: 5px;
                height: 20px;
                width: 80px;
            }

            input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }

}