<div>
    <app-theme-switcher>
        <div class="wrap background">
            <div class="content">
                <div class="container">
                    <div class="background-secondary">
                        <app-search></app-search>
                    </div>
                    <div class="background-secondary table">
                        <app-board style="display: flex;"></app-board>
                    </div>
                </div>
            </div>
        </div>
    </app-theme-switcher>
    <app-modal></app-modal>
</div>